@mixin scroll-container($size: 12px) {
  --scrollbar-size: #{$size};
  --scrollbar-opacity: 0;
  overflow: scroll;
  transition: --scrollbar-opacity 0.2s;
  scrollbar-gutter: stable;
  &:hover {
    --scrollbar-opacity: 0.1;
  }
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-track {
    // background-color: rgb(var(--theme-foreground) / var(--scrollbar-opacity));
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(var(--theme-foreground) / var(--scrollbar-opacity));
    border-radius: $size;
    &:horizontal:active,
    &:vertical:active {
      --scrollbar-opacity: 0.2;
    }
  }
}
