@use './_partials';

@layer commas {
  button[data-commas] {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    height: 1em;
    padding: 4px;
    border: none;
    color: inherit;
    font: inherit;
    font-size: 16px;
    background: transparent;
    border-radius: 4px;
    opacity: 0.5;
    transition: opacity 0.2s, color 0.2s, transform 0.2s;
    cursor: pointer;
    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      background: var(--design-highlight-background);
      opacity: 1;
    }
    &:focus-visible {
      outline: none;
    }
    &:active {
      transform: scale(partials.nano-scale(24));
    }
    &:disabled {
      opacity: 0.25;
      cursor: not-allowed;
    }
  }
  button[data-commas-alt] {
    appearance: none;
    padding: 0;
    border: none;
    color: inherit;
    font: inherit;
    font-size: inherit;
    background: transparent;
    cursor: pointer;
    &:focus-visible {
      outline: 1px solid rgb(var(--system-accent));
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  a[data-commas] {
    appearance: none;
    padding: 0;
    border: none;
    color: inherit;
    font: inherit;
    text-decoration: none;
    background: transparent;
    opacity: 0.5;
    transition: opacity 0.2s, color 0.2s, transform 0.2s;
    cursor: pointer;
    &:hover,
    &:focus-visible {
      opacity: 1;
    }
    &:focus-visible {
      text-decoration: underline;
      outline: none;
    }
  }
  select[data-commas] {
    padding: 4px 8px;
    border: none;
    color: var(--theme-foreground);
    font: inherit;
    line-height: 20px;
    background: var(--design-input-background);
    border-radius: 4px;
    outline: none;
    &:focus-visible {
      outline: 1px solid rgb(var(--system-accent));
    }
    // Fix windows native control style
    option {
      color: initial;
    }
  }
  input[data-commas],
  textarea[data-commas] {
    width: 165px;
    padding: 4px 8px;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: 20px;
    background: var(--design-input-background);
    border-radius: 4px;
    outline: none;
    &::placeholder {
      color: rgb(var(--theme-foreground));
      opacity: 0.25;
    }
    &:focus-visible {
      outline: 1px solid rgb(var(--system-accent));
    }
    &:read-only {
      opacity: 0.5;
    }
  }
  input[type='color'][data-commas] {
    width: 50px;
    height: 27px;
    padding: 2px 4px;
    opacity: 1;
  }
  textarea[data-commas] {
    height: 60px;
    resize: none;
  }
  input[data-commas-alt] {
    appearance: none;
    padding: 0;
    border: none;
    color: inherit;
    font: inherit;
    line-height: inherit;
    background: transparent;
    outline: none;
    &::placeholder {
      color: rgb(var(--theme-foreground));
      opacity: 0.25;
    }
    &:read-only {
      opacity: 0.5;
    }
  }
  h2[data-commas] {
    margin: 8px 0;
    font-size: 18px;
    line-height: 24px;
  }
  label[data-commas] {
    align-self: flex-start;
    width: 14em;
  }
  form > div[data-commas],
  nav[data-commas] {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
  }
  form[data-commas] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
    line-height: 32px;
  }
}
