@use './_partials';

@layer commas {
  button[data-commas] {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    color: inherit;
    font: inherit;
    font-size: 16px;
    background: transparent;
    border-radius: 4px;
    opacity: 0.5;
    transition: opacity 0.2s, color 0.2s, transform 0.2s;
    cursor: pointer;
    &:hover,
    &:focus-visible {
      background: var(--design-highlight-background);
      opacity: 1;
    }
    &:focus-visible {
      outline: none;
    }
    &:active {
      transform: scale(partials.nano-scale(24));
    }
  }
  a[data-commas] {
    appearance: none;
    padding: 0;
    border: none;
    color: inherit;
    font: inherit;
    background: transparent;
    opacity: 0.5;
    transition: opacity 0.2s, color 0.2s, transform 0.2s;
    cursor: pointer;
    &:hover,
    &:focus-visible {
      opacity: 1;
    }
    &:focus-visible {
      text-decoration: underline;
      outline: none;
    }
  }
}
