.DS_Store
node_modules
dist
release
.*cache
/native/bin
/native/build
/resources/images/*.ico
/resources/images/*.icns
/userdata
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
