@font-face {
  font-family: 'Feather Icon';
  src: url('feather.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.feather-icon {
  font-family: 'Feather Icon';
}

.icon-activity::before {
  content: '\e900';
}
.icon-airplay::before {
  content: '\e901';
}
.icon-alert-circle::before {
  content: '\e902';
}
.icon-alert-octagon::before {
  content: '\e903';
}
.icon-alert-triangle::before {
  content: '\e904';
}
.icon-align-center::before {
  content: '\e905';
}
.icon-align-justify::before {
  content: '\e906';
}
.icon-align-left::before {
  content: '\e907';
}
.icon-align-right::before {
  content: '\e908';
}
.icon-anchor::before {
  content: '\e909';
}
.icon-aperture::before {
  content: '\e90a';
}
.icon-archive::before {
  content: '\e90b';
}
.icon-arrow-down-circle::before {
  content: '\e90c';
}
.icon-arrow-down-left::before {
  content: '\e90d';
}
.icon-arrow-down-right::before {
  content: '\e90e';
}
.icon-arrow-down::before {
  content: '\e90f';
}
.icon-arrow-left-circle::before {
  content: '\e910';
}
.icon-arrow-left::before {
  content: '\e911';
}
.icon-arrow-right-circle::before {
  content: '\e912';
}
.icon-arrow-right::before {
  content: '\e913';
}
.icon-arrow-up-circle::before {
  content: '\e914';
}
.icon-arrow-up-left::before {
  content: '\e915';
}
.icon-arrow-up-right::before {
  content: '\e916';
}
.icon-arrow-up::before {
  content: '\e917';
}
.icon-at-sign::before {
  content: '\e918';
}
.icon-award::before {
  content: '\e919';
}
.icon-bar-chart-2::before {
  content: '\e91a';
}
.icon-bar-chart::before {
  content: '\e91b';
}
.icon-battery-charging::before {
  content: '\e91c';
}
.icon-battery::before {
  content: '\e91d';
}
.icon-bell-off::before {
  content: '\e91e';
}
.icon-bell::before {
  content: '\e91f';
}
.icon-bluetooth::before {
  content: '\e920';
}
.icon-bold::before {
  content: '\e921';
}
.icon-book-open::before {
  content: '\e922';
}
.icon-book::before {
  content: '\e923';
}
.icon-bookmark::before {
  content: '\e924';
}
.icon-box::before {
  content: '\e925';
}
.icon-briefcase::before {
  content: '\e926';
}
.icon-calendar::before {
  content: '\e927';
}
.icon-camera-off::before {
  content: '\e928';
}
.icon-camera::before {
  content: '\e929';
}
.icon-cast::before {
  content: '\e92a';
}
.icon-check-circle::before {
  content: '\e92b';
}
.icon-check-square::before {
  content: '\e92c';
}
.icon-check::before {
  content: '\e92d';
}
.icon-chevron-down::before {
  content: '\e92e';
}
.icon-chevron-left::before {
  content: '\e92f';
}
.icon-chevron-right::before {
  content: '\e930';
}
.icon-chevron-up::before {
  content: '\e931';
}
.icon-chevrons-down::before {
  content: '\e932';
}
.icon-chevrons-left::before {
  content: '\e933';
}
.icon-chevrons-right::before {
  content: '\e934';
}
.icon-chevrons-up::before {
  content: '\e935';
}
.icon-chrome::before {
  content: '\e936';
}
.icon-circle::before {
  content: '\e937';
}
.icon-clipboard::before {
  content: '\e938';
}
.icon-clock::before {
  content: '\e939';
}
.icon-cloud-drizzle::before {
  content: '\e93a';
}
.icon-cloud-lightning::before {
  content: '\e93b';
}
.icon-cloud-off::before {
  content: '\e93c';
}
.icon-cloud-rain::before {
  content: '\e93d';
}
.icon-cloud-snow::before {
  content: '\e93e';
}
.icon-cloud::before {
  content: '\e93f';
}
.icon-code::before {
  content: '\e940';
}
.icon-codepen::before {
  content: '\e941';
}
.icon-coffee::before {
  content: '\e942';
}
.icon-command::before {
  content: '\e943';
}
.icon-compass::before {
  content: '\e944';
}
.icon-copy::before {
  content: '\e945';
}
.icon-corner-down-left::before {
  content: '\e946';
}
.icon-corner-down-right::before {
  content: '\e947';
}
.icon-corner-left-down::before {
  content: '\e948';
}
.icon-corner-left-up::before {
  content: '\e949';
}
.icon-corner-right-down::before {
  content: '\e94a';
}
.icon-corner-right-up::before {
  content: '\e94b';
}
.icon-corner-up-left::before {
  content: '\e94c';
}
.icon-corner-up-right::before {
  content: '\e94d';
}
.icon-cpu::before {
  content: '\e94e';
}
.icon-credit-card::before {
  content: '\e94f';
}
.icon-crop::before {
  content: '\e950';
}
.icon-crosshair::before {
  content: '\e951';
}
.icon-database::before {
  content: '\e952';
}
.icon-delete::before {
  content: '\e953';
}
.icon-disc::before {
  content: '\e954';
}
.icon-dollar-sign::before {
  content: '\e955';
}
.icon-download-cloud::before {
  content: '\e956';
}
.icon-download::before {
  content: '\e957';
}
.icon-droplet::before {
  content: '\e958';
}
.icon-edit-2::before {
  content: '\e959';
}
.icon-edit-3::before {
  content: '\e95a';
}
.icon-edit::before {
  content: '\e95b';
}
.icon-external-link::before {
  content: '\e95c';
}
.icon-eye-off::before {
  content: '\e95d';
}
.icon-eye::before {
  content: '\e95e';
}
.icon-facebook::before {
  content: '\e95f';
}
.icon-fast-forward::before {
  content: '\e960';
}
.icon-feather::before {
  content: '\e961';
}
.icon-figma::before {
  content: '\e962';
}
.icon-file-minus::before {
  content: '\e963';
}
.icon-file-plus::before {
  content: '\e964';
}
.icon-file-text::before {
  content: '\e965';
}
.icon-file::before {
  content: '\e966';
}
.icon-film::before {
  content: '\e967';
}
.icon-filter::before {
  content: '\e968';
}
.icon-flag::before {
  content: '\e969';
}
.icon-folder-minus::before {
  content: '\e96a';
}
.icon-folder-plus::before {
  content: '\e96b';
}
.icon-folder::before {
  content: '\e96c';
}
.icon-frown::before {
  content: '\e96d';
}
.icon-gift::before {
  content: '\e96e';
}
.icon-git-branch::before {
  content: '\e96f';
}
.icon-git-commit::before {
  content: '\e970';
}
.icon-git-merge::before {
  content: '\e971';
}
.icon-git-pull-request::before {
  content: '\e972';
}
.icon-github::before {
  content: '\e973';
}
.icon-gitlab::before {
  content: '\e974';
}
.icon-globe::before {
  content: '\e975';
}
.icon-grid::before {
  content: '\e976';
}
.icon-hard-drive::before {
  content: '\e977';
}
.icon-hash::before {
  content: '\e978';
}
.icon-headphones::before {
  content: '\e979';
}
.icon-heart::before {
  content: '\e97a';
}
.icon-help-circle::before {
  content: '\e97b';
}
.icon-home::before {
  content: '\e97c';
}
.icon-image::before {
  content: '\e97d';
}
.icon-inbox::before {
  content: '\e97e';
}
.icon-info::before {
  content: '\e97f';
}
.icon-instagram::before {
  content: '\e980';
}
.icon-italic::before {
  content: '\e981';
}
.icon-key::before {
  content: '\e982';
}
.icon-layers::before {
  content: '\e983';
}
.icon-layout::before {
  content: '\e984';
}
.icon-life-buoy::before {
  content: '\e985';
}
.icon-link-2::before {
  content: '\e986';
}
.icon-link::before {
  content: '\e987';
}
.icon-linkedin::before {
  content: '\e988';
}
.icon-list::before {
  content: '\e989';
}
.icon-loader::before {
  content: '\e98a';
}
.icon-lock::before {
  content: '\e98b';
}
.icon-log-in::before {
  content: '\e98c';
}
.icon-log-out::before {
  content: '\e98d';
}
.icon-mail::before {
  content: '\e98e';
}
.icon-map-pin::before {
  content: '\e98f';
}
.icon-map::before {
  content: '\e990';
}
.icon-maximize-2::before {
  content: '\e991';
}
.icon-maximize::before {
  content: '\e992';
}
.icon-meh::before {
  content: '\e993';
}
.icon-menu::before {
  content: '\e994';
}
.icon-message-circle::before {
  content: '\e995';
}
.icon-message-square::before {
  content: '\e996';
}
.icon-mic-off::before {
  content: '\e997';
}
.icon-mic::before {
  content: '\e998';
}
.icon-minimize-2::before {
  content: '\e999';
}
.icon-minimize::before {
  content: '\e99a';
}
.icon-minus-circle::before {
  content: '\e99b';
}
.icon-minus-square::before {
  content: '\e99c';
}
.icon-minus::before {
  content: '\e99d';
}
.icon-monitor::before {
  content: '\e99e';
}
.icon-moon::before {
  content: '\e99f';
}
.icon-more-horizontal::before {
  content: '\e9a0';
}
.icon-more-vertical::before {
  content: '\e9a1';
}
.icon-mouse-pointer::before {
  content: '\e9a2';
}
.icon-move::before {
  content: '\e9a3';
}
.icon-music::before {
  content: '\e9a4';
}
.icon-navigation-2::before {
  content: '\e9a5';
}
.icon-navigation::before {
  content: '\e9a6';
}
.icon-octagon::before {
  content: '\e9a7';
}
.icon-package::before {
  content: '\e9a8';
}
.icon-paperclip::before {
  content: '\e9a9';
}
.icon-pause-circle::before {
  content: '\e9aa';
}
.icon-pause::before {
  content: '\e9ab';
}
.icon-pen-tool::before {
  content: '\e9ac';
}
.icon-percent::before {
  content: '\e9ad';
}
.icon-phone-call::before {
  content: '\e9ae';
}
.icon-phone-forwarded::before {
  content: '\e9af';
}
.icon-phone-incoming::before {
  content: '\e9b0';
}
.icon-phone-missed::before {
  content: '\e9b1';
}
.icon-phone-off::before {
  content: '\e9b2';
}
.icon-phone-outgoing::before {
  content: '\e9b3';
}
.icon-phone::before {
  content: '\e9b4';
}
.icon-pie-chart::before {
  content: '\e9b5';
}
.icon-play-circle::before {
  content: '\e9b6';
}
.icon-play::before {
  content: '\e9b7';
}
.icon-plus-circle::before {
  content: '\e9b8';
}
.icon-plus-square::before {
  content: '\e9b9';
}
.icon-plus::before {
  content: '\e9ba';
}
.icon-pocket::before {
  content: '\e9bb';
}
.icon-power::before {
  content: '\e9bc';
}
.icon-printer::before {
  content: '\e9bd';
}
.icon-radio::before {
  content: '\e9be';
}
.icon-refresh-ccw::before {
  content: '\e9bf';
}
.icon-refresh-cw::before {
  content: '\e9c0';
}
.icon-repeat::before {
  content: '\e9c1';
}
.icon-rewind::before {
  content: '\e9c2';
}
.icon-rotate-ccw::before {
  content: '\e9c3';
}
.icon-rotate-cw::before {
  content: '\e9c4';
}
.icon-rss::before {
  content: '\e9c5';
}
.icon-save::before {
  content: '\e9c6';
}
.icon-scissors::before {
  content: '\e9c7';
}
.icon-search::before {
  content: '\e9c8';
}
.icon-send::before {
  content: '\e9c9';
}
.icon-server::before {
  content: '\e9ca';
}
.icon-settings::before {
  content: '\e9cb';
}
.icon-share-2::before {
  content: '\e9cc';
}
.icon-share::before {
  content: '\e9cd';
}
.icon-shield-off::before {
  content: '\e9ce';
}
.icon-shield::before {
  content: '\e9cf';
}
.icon-shopping-bag::before {
  content: '\e9d0';
}
.icon-shopping-cart::before {
  content: '\e9d1';
}
.icon-shuffle::before {
  content: '\e9d2';
}
.icon-sidebar::before {
  content: '\e9d3';
}
.icon-skip-back::before {
  content: '\e9d4';
}
.icon-skip-forward::before {
  content: '\e9d5';
}
.icon-slack::before {
  content: '\e9d6';
}
.icon-slash::before {
  content: '\e9d7';
}
.icon-sliders::before {
  content: '\e9d8';
}
.icon-smartphone::before {
  content: '\e9d9';
}
.icon-smile::before {
  content: '\e9da';
}
.icon-speaker::before {
  content: '\e9db';
}
.icon-square::before {
  content: '\e9dc';
}
.icon-star::before {
  content: '\e9dd';
}
.icon-stop-circle::before {
  content: '\e9de';
}
.icon-sun::before {
  content: '\e9df';
}
.icon-sunrise::before {
  content: '\e9e0';
}
.icon-sunset::before {
  content: '\e9e1';
}
.icon-tablet::before {
  content: '\e9e2';
}
.icon-tag::before {
  content: '\e9e3';
}
.icon-target::before {
  content: '\e9e4';
}
.icon-terminal::before {
  content: '\e9e5';
}
.icon-thermometer::before {
  content: '\e9e6';
}
.icon-thumbs-down::before {
  content: '\e9e7';
}
.icon-thumbs-up::before {
  content: '\e9e8';
}
.icon-toggle-left::before {
  content: '\e9e9';
}
.icon-toggle-right::before {
  content: '\e9ea';
}
.icon-trash-2::before {
  content: '\e9eb';
}
.icon-trash::before {
  content: '\e9ec';
}
.icon-trello::before {
  content: '\e9ed';
}
.icon-trending-down::before {
  content: '\e9ee';
}
.icon-trending-up::before {
  content: '\e9ef';
}
.icon-triangle::before {
  content: '\e9f0';
}
.icon-truck::before {
  content: '\e9f1';
}
.icon-tv::before {
  content: '\e9f2';
}
.icon-twitter::before {
  content: '\e9f3';
}
.icon-type::before {
  content: '\e9f4';
}
.icon-umbrella::before {
  content: '\e9f5';
}
.icon-underline::before {
  content: '\e9f6';
}
.icon-unlock::before {
  content: '\e9f7';
}
.icon-upload-cloud::before {
  content: '\e9f8';
}
.icon-upload::before {
  content: '\e9f9';
}
.icon-user-check::before {
  content: '\e9fa';
}
.icon-user-minus::before {
  content: '\e9fb';
}
.icon-user-plus::before {
  content: '\e9fc';
}
.icon-user-x::before {
  content: '\e9fd';
}
.icon-user::before {
  content: '\e9fe';
}
.icon-users::before {
  content: '\e9ff';
}
.icon-video-off::before {
  content: '\ea00';
}
.icon-video::before {
  content: '\ea01';
}
.icon-voicemail::before {
  content: '\ea02';
}
.icon-volume-1::before {
  content: '\ea03';
}
.icon-volume-2::before {
  content: '\ea04';
}
.icon-volume-x::before {
  content: '\ea05';
}
.icon-volume::before {
  content: '\ea06';
}
.icon-watch::before {
  content: '\ea07';
}
.icon-wifi-off::before {
  content: '\ea08';
}
.icon-wifi::before {
  content: '\ea09';
}
.icon-wind::before {
  content: '\ea0a';
}
.icon-x-circle::before {
  content: '\ea0b';
}
.icon-x-octagon::before {
  content: '\ea0c';
}
.icon-x-square::before {
  content: '\ea0d';
}
.icon-x::before {
  content: '\ea0e';
}
.icon-youtube::before {
  content: '\ea0f';
}
.icon-zap-off::before {
  content: '\ea10';
}
.icon-zap::before {
  content: '\ea11';
}
.icon-zoom-in::before {
  content: '\ea12';
}
.icon-zoom-out::before {
  content: '\ea13';
}
