@font-face {
  font-family: 'Oxygen';
  src: url('./assets/fonts/oxygen.woff2');
}

body {
  margin: 0;
  font-size: 14px;
  user-select: none;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}

#main {
  /* colors from macOS */
  --design-green: #28c941;
  --design-yellow: #ffbd2e;
  --design-red: #ff6159;
  /* blue from Google */
  --design-blue: #4285f4;
  /* magenta from After Effects */
  --design-magenta: #cf96fd;
  /* cyan from Material Design */
  --design-cyan: #03dac6;
}
