@font-face {
  font-family: 'Oxygen';
  src: url('./assets/fonts/oxygen.woff2');
}

body {
  margin: 0;
  font-size: 14px;
  user-select: none;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}

#app {
  --design-green: #28c941;
  --design-yellow: #ffbd2e;
  --design-red: #ff6159;
  --design-blue: #2f88ff;
  --design-magenta: #cf96fd;
  --design-cyan: #00c8d2;
}
