.iterm2-mark {
  height: 0 !important;
  margin-top: calc(var(--cell-height) / 6);
  margin-left: calc(0px - var(--cell-width) * 5 / 6);
  border-top: calc(var(--cell-height) / 3) solid transparent;
  border-bottom: calc(var(--cell-height) / 3) solid transparent;
  border-left: calc(var(--cell-width) * 2 / 3) solid rgb(var(--color));
}
.iterm2-cursor-highlight-line {
  border: 1px solid rgb(var(--theme-blue));
  background: rgb(var(--theme-blue) / 50%);
}
