body {
  margin: 0;
  font-size: 14px;
  user-select: none;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}
/* ::-webkit-scrollbar {
  background: inherit;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(170, 170, 170, 0.5);
} */
