@font-face {
  font-family: 'Oxygen';
  src: url('./assets/fonts/oxygen.woff2');
}

body {
  margin: 0;
  font-size: 14px;
  user-select: none;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}
/* issue@xterm: fix selection layer */
.xterm-text-layer {
  z-index: 1 !important;
}
.xterm-selection-layer {
  z-index: 0 !important;
}
